
@font-face {
    font-family: magic;
  src: url('/static/fonts/NeueMachina-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: magic, sans-serif;
    font-weight: 600;
}


html, body {
  width: 100%;
  min-height: 100%;
}

i{
    font-size: var(--font-md) !important;
}

body::-webkit-scrollbar {
  display: none;
}

:root {

    --image-size:5rem;

    --modal-color:#02061780;
    --popup-bg-color:black;
    --black-color:black;
    --primary: #0d0bc0;
    --accent: #3c71e9;
    --text-main:#0a0a0a;
    --text-soft: #8c9aa9;
    --surface:#ffffff;
    --bg-body: #f4f7fe;
    --line:#e5e7eb;
    --radius:.8rem;
    --shadow:0 0 2rem rgba(224, 223, 214, 0.69);
    --gap: clamp(2rem, 2.5vw, 3rem);


    --danger: #8d0813;
    --danger-bg:#fff1f0;
    --danger-border:#f7c3c0;



    --success: #009d40;
    --success-bg: #e1ffd4;
    --success-border: #b7f7b2;




    --white-color: rgb(241, 241, 241);
    --pill-border: rgba(50, 77, 255, 0.52);
    --pill-text: rgb(70, 71, 255);
    --pill-bg:rgba(21,101,192,.1);
    --pill-hover-color: rgba(35, 25, 206, 0.25);
    --icon-color: rgb(0, 0, 0);
    --border-color: rgb(122, 122, 122);
    --active-color: rgba(131, 134, 134, 0.47);



    --radius-sm:15px;
    --radius-md:20px;
    --radius-lg:30px;
    --radius-xl:50px;
    --radius-circular:50%;

    --transparent:transparent;
    --full-height:100vh;

    --padding-xs: 0.5rem;
    --padding-sm:1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-2xl: 2.5rem;
    --padding-3xl: 3rem;
    --padding-btn:.5rem 1rem;


    --size-xs:0.5vw;
    --size-sm:1vw;
    --size-lg:1.5vw;
    --size-xl:2vw;
    --size-2xl:2.5vw;

    --font-xs:0.5rem;
    --font-sm:0.9rem;
    --font-md:1rem;
    --font-lg:1.5rem;
    --font-xl:2rem;
    --font-2xl:2.5rem;
    --font-3xl:3rem;
    --font-4xl:4rem;

    --margin-xxs:0.1rem;
    --margin-xs:0.5rem;
    --margin-sm:1rem;
    --margin-lg:1.5rem;
    --margin-xl:2rem;
    --margin-2xl:2.5rem;
    --margin-3xl:3rem;

    --nav-margin:20vw;

    --gutter-xs: 0.25rem;
    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;      /* most common */
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;


    --blur-none: 0;
    --blur-xs: 2px;
    --blur-sm: 4px;
    --blur-md: 8px;
    --blur-lg: 12px;
    --blur-xl: 20px;

    /* Glass / backdrop presets */
    --blur-glass-light: blur(6px);
    --blur-glass: blur(10px);
    --blur-glass-heavy: blur(16px);

}

  [data-theme="dark"] {
    --primary:#4f9eff;
    --accent:#64b5f6;
    --text-main: rgba(255, 255, 255, 0.85);
    --text-soft:#9ca3af;
    --surface:#000000;
      --bg-body: #000000;
    --line:rgba(255,255,255,0.15);
    --shadow:0 0 1rem rgba(0,0,0,0.4);

       --pill-border: rgb(50, 76, 255);
    --pill-text: rgb(70, 71, 255);
    --pill-bg:rgba(21,101,192,.1);

    --icon-color: rgb(255, 255, 255);
    --border-color: rgb(189, 189, 189);
    --active-color: rgba(131, 134, 134, 0.47);
      --popup-bg-color:white;

  }




  body {
    background: var(--surface);
    color: var(--text-main);
    transition: background .4s ease, color .4s ease;
  }


.main-content{
height: auto;
width: 100%;
display: flex;
}



.admin-right-main-content{
    margin-left: var(--nav-margin);
    width: calc(100% - var(--nav-margin));
    /*margin-left: 17rem;*/
    /*width: calc(100% - 17rem);*/
    min-height:var(--full-height);
    background:
      radial-gradient(80vw 30vh at 0% -10%, rgba(21,101,192,.08), transparent 60%),
      radial-gradient(60vw 30vh at 100% 110%, rgba(14,165,233,.08), transparent 60%),
      var(--surface);
    padding:clamp(var(--padding-sm),var(--size-2xl),var(--padding-xl));
    box-sizing:border-box;
    overflow:auto;
    display: flex;
    flex-direction: column;
}


.admin-left-main-content{
    background-color: var(--surface);
    width: var(--nav-margin);
    /*width: 17rem;*/
    height: var(--full-height);
    z-index: 10;
    position: fixed;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--text-main);
}






.admin-top-left-content{
    padding: var(--padding-xl);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.admin-menu{
    font-size: var(--font-sm);
    font-weight: bold;
    text-align: center;
    padding: var(--padding-sm);
    cursor:default;


}

.admin-mid-left-content{
    /*height: calc(100vh - 160px); !* Top + bottom space ke hisaab se adjust *!*/
    padding: var(--padding-xs);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.admin-mid-left-content::-webkit-scrollbar {
    width: 6px;
}
.admin-mid-left-content::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: var(--radius-sm);
}
.admin-mid-left-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary);
}






#navbar-section{
    display: flex;
    gap:var(--gutter-sm);
    flex-direction: column;
}

.nav-links{
    text-decoration: none;
    color:var(--text-main);
          cursor:pointer;
    font-size:var(--font-sm);

}




.mid-left-navbars{
    padding: var(--padding-sm);
    display: flex;
    align-items: center;
    cursor:pointer;
    border-radius: var(--radius-sm);
    border: 1px solid var(--transparent);

}
.mid-left-navbars:hover{
    background-color: var(--active-color);
    transition: all ease-in-out 1ms;
    border: 1px solid var(--border-color);

}

.active{
    background-color: var(--active-color);
    /*border-radius:var(--radius-sm);*/
    transition: all ease-in-out 1ms;
    border: 1px solid var(--border-color);
}


.mid-left-navbars i{
    font-size:var(--font-sm);
    margin-right:var(--margin-xs);
    color:var(--icon-color);
}



.admin-bottom-left-content{
     /*background-color: rgb(187, 44, 192);*/
    padding: var(--padding-sm);
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin-bottom-left-content a{
    text-decoration: none;
    color: var(--text-main);
}


.more-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-sm) var(--padding-xl);
    cursor: pointer;
    border:1px solid transparent;
    /*color: var(--primary);*/
}
.more-section i{
    color: var(--icon-color);
}
.more-section:hover{
        border:1px solid var(--border-color);
    background-color: var(--active-color);
    border-radius: var(--radius-sm);
}

.setting-dropdown{
  width: 15rem;
  bottom: 10%;
  left: 20%;
  background: rgba(255, 255, 255, 0.021);
  backdrop-filter: blur(var(--blur-lg));
  -webkit-backdrop-filter: blur(var(--blur-lg));
  border-radius: var(--radius-md);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: absolute;
  overflow: hidden;
  display: none;
}

.setting-dropdown::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.setting-dropdown::after {
   content: '';
  position: absolute;
  /* top: 0; */
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}
.setting-menu-dropdown{
    display: flex;
    align-items: center;
    justify-content: start;
    padding:var(--padding-sm);
    margin: var(--margin-xs);
    gap:var(--gutter-sm);
    border-radius: var(--radius-sm);
    cursor: pointer;
    color: var(--text-main);
    text-decoration: none;
    border-radius: var(--radius-sm);
    border: 1px solid transparent;

}
.setting-menu-dropdown:hover{
    border: 1px solid var(--border-color);
    background-color: var(--active-color);
    transition: all ease-in-out 1ms;
}


.setting-dropdown.show {
  display: block;
}





#toast-container{
      position:fixed;
      right:var(--margin-xl);
      bottom:var(--margin-xl);
      display:flex;
      flex-direction:column;
      align-items:flex-end;
      z-index:9999;
      gap:calc(var(--gutter-md) + var(--gutter-xs));
}
  .toast{
      background-color:var(--primary);
      color:var(--white-color);
      padding:var(--padding-sm) var(--padding-lg);
      border-radius:var(--radius);
      box-shadow:0 .75rem 1.25rem rgba(0,0,0,.12);
      font-weight:600;
      opacity:0;
      transform:translateY(1rem) translateX(20%);
      animation:toastIn .35s ease forwards,
      toastOut .35s ease 4.3s forwards;
  }
  .toast.success{
      background:var(--success);
  }
  .toast.error{
      background:var(--danger);
  }
  @keyframes toastIn{
      from{opacity:0;
          transform:translateY(1rem) translateX(20%)
      }
      to{
          opacity:1;
          transform:translateY(0) translateX(0)
      }
  }
  @keyframes toastOut{
      to{
          opacity:0;
          transform:translateY(1rem) translateX(20%)
      }
  }






















































